{% load meta static %}
<!DOCTYPE html>
<html >
<head {% meta_namespaces %}>
    {% include "meta/meta.html" %}
    <script>
        var knocker_url = '/knocker/notification/';
        var knocker_language = 'en';
    </script>
</head>
<body>

<ul>
    {% for post in object_list %}
        <li><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<script defer src="{% static "js/knocker.js" %}"></script>
<script defer src="{% static "channels/js/websocketbridge.js" %}"></script>
</body>
</html>
